body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.main {
  padding: 28px;
}
.logo img {
  width: 60%;
  height: 60%;
}
nav,
nav div {
  display: flex;
}
nav {
  justify-content: space-between;
}

nav p {
  font-weight: 400;
  font-size: 12px;
  color: #07043b;
  padding: 20px;
}
header h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #07043b;
}
.image img,
.img-two img {
  max-width: 100%;
}
.image {
  margin: 100px 0 40px 0;
}
header p {
  margin: 24px 0 32px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #07043b;
}
input {
  border-radius: 3px;
  border: 0.625px solid #07043b;
  padding: 14px 0 14px 21px;
  width: 92%;
}

button {
  background-color: #2f65f8;
  color: white;
  border-radius: 3px;
  width: 100%;
  border: none;
  padding: 12px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 183px;
}
.err {
  border-color: red;
}
.input-control .error {
  color: red;
}
.card {
  background-color: #f8f8fe;
  padding: 28px;
}
.card-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #07043b;
}

.card-text-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #615f7e;
}
.grean-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grean-div p {
  font-weight: 400;
  font-size: 12px;
  color: #3da08f;
  margin: 0;
}
hr {
  background: #3da08f;
  width: 40%;
}
.card-small {
  background: #ffffff;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
  border-radius: 3.93258px;
  padding: 25px;
  margin-top: 40px;
}
.card-small-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  /* or 181% */

  letter-spacing: 0.384615px;
}
.pic-div {
  display: flex;
  margin-top: 26px;
}
.pic-div img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}
.name {
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.45px;
  margin: 0;
  color: #07043b;
}
.job {
  font-weight: 400;
  font-size: 6px;
  line-height: 12px;
  margin: 0;
  letter-spacing: 0.3px;
  color: #07043b;
}
.avatar-info {
  margin-left: 10px;
}
.container {
  background-color: #575988;
  padding: 54px 50px 54px 50px;
}
.container-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.container-text-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.btn-two {
  margin-bottom: 0;
}

.logo-two img {
  color: white;
  width: 105px;
}
.black-div {
  background-color: #07043b;
  padding: 65px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.phone {
  display: flex;
}

.phone img {
  width: 20px;
  height: 20px;
}
.phone p,
.nav-div p,
.nav-div-two p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
}
.nav-div p,
.nav-div-two p {
  margin: 0;
  margin-top: 5px;
}
i {
  color: white;
  margin-left: 10px;
}
.logo-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 84px;
  }
  nav {
    justify-content: space-between;
  }
  .logo img {
    width: 100%;
  }
  nav p {
    font-size: 16px;
  }
  header,
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .image,
  .img-two {
    order: 2;
  }
  .text-div {
    order: 1;
    margin-top: 30%;
  }

  form {
    display: flex;
  }

  button {
    margin-top: 0;
    width: 30%;
    height: 50px;
  }
  .text-div p,
  .text-div h1,
  .container-text,
  .container-text-two {
    text-align: left;
  }
  .one {
    margin-top: 5%;
  }
  hr {
    margin-left: 0;
    width: 20%;
  }
  .grean-div {
    justify-content: left;
  }
  .card-small {
    width: 45%;
  }
  .container,
  .black-div {
    display: flex;
    justify-content: space-between;
    padding: 100px 80px 100px 80px;
  }
  .color-text {
    width: 40%;
  }
  .btn-two {
    width: 70%;
    margin-left: 0;
    margin-top: 10px;
  }
  .form {
    flex-direction: column;
  }
  .black-div,
  .two {
    flex-direction: row;
  }
  .card {
    padding: 80px;
  }
  .three {
    width: 40%;
  }
  .input-control {
    width: 50%;
  }
}
